* {
    margin: 0px;
}

.header{
    text-align: center;
    font-size: 30px;
    padding: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: antiquewhite;
}

 #map {
    height: 100%;
    width: 50%;
    margin: 120px 0px 0px 180px;
    /* box-shadow: 5px 5px 5px rgb(100, 71, 71); */
    border: 6px solid rgb(138, 112, 112);
    border-radius: 20px;
    padding: 300px 0px 300px 0px;
  }
  
body {
    background-color: rgb(46, 42, 42);
  }

.section {
    display: flex;
}

.nodeInfo {
    border: 5px solid rgb(94, 68, 68);
    border-radius: 20px;
    margin: 120px 0px 0px 250px;
    height: 60vh;
    width: 20vw;
    color: white;
    font-size: 40px;
    /* padding: 0px 100px 0px 20px; */
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.nodeInfo .nodeInfoTitle {
    text-align: center;
    background-color: rgb(94, 68, 68);
}